/*
Authors: 
  Jose Angel Garcia Gomez
  Jair Josue Jimarez Garcia
  Pablo Gonzalez de la Parra
  Erika Marlene García Sánchez
  Yael Ariel Marquez Mas      
Date: 06-03-2022
Description: Styles that produces a circular progress bar for the dashboard of the main page
*/

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 45%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 5s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.circular-chart.purple .circle {
  stroke: rgb(153, 0, 255);
}

.circular-chart.yellow .circle {
  stroke: rgb(247, 252, 0);
}

.circular-chart.red .circle {
  stroke: rgb(214, 39, 39);
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.margen20{
    margin: 20px;
}