/*
Authors: 
  Jose Angel Garcia Gomez
  Jair Josue Jimarez Garcia
  Pablo Gonzalez de la Parra
  Erika Marlene García Sánchez
  Yael Ariel Marquez Mas      
Date: 06-03-2022
Description: Styles for the insert page
*/

/*Tarjeta*/
div.container.folio{
    margin-top: 3cm;
    max-width: 400px;
}